
DATABASE_URL=


JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

BACKEND_URL= 
MAILHOG_URL=

RAJAONGKIR_API_KEY=
RAJAONGKIR_BASE_URL=
FRONTEND_URL=

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_EXPIRY_MINUTES=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

OPENROUTER_API_KEY=
